body{
background-color: #00134D;

}

.fullBorad{
    display: flex;
    flex-wrap: wrap;
}

.borad-pl1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 325px;
}

.borad-pl2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 325px;
}


.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}